--markup markdown
--markup-provider redcarpet
--output-dir doc/api
--readme README.md
--files CHANGELOG.md,foxtail-runtime/CHANGELOG.md,foxtail-tools/CHANGELOG.md,LICENSE.txt
--exclude spec/
--exclude vendor/
foxtail-runtime/lib/**/*.rb
foxtail-tools/lib/**/*.rb
